.icon {
  color: #888D97;
  cursor: pointer;
  border-radius: 4px;
  height: 48px;

  svg {
    fill: #9ca2a8;
  }
}

.icon:hover,
.icon.current {
  background-color: var(--chakra-colors-primary-200);

  svg {
    fill: var(--chakra-colors-primary-600);
  }
}

.icon.bottom {
  width: 100%;
  position: absolute;
  bottom: 10px;
}