.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primaryText {
  font-weight: 400;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  color: var(--chakra-colors-primary-600);
}