.monaco-editor .margin {
  background-color: #fff !important;
}

.monaco-editor {
  --vscode-editor-background: #fff !important;
}

[data-theme="dark"] .monaco-editor .margin {
  background-color: #202631 !important;
}

[data-theme="dark"] .monaco-editor {
  --vscode-editor-background: #202631 !important;
}
