node_modules
dist

upload
data/*
tmp

ecosystem.config.js
.DS_Store
.idea

coverage
.nyc_output

kubernetes-dev/mongo-data

kubernetes-local/
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log

.kube/

deploy/build/*/manifests
deploy/build/*/registry
deploy/build/*/charts
deploy/build/registry
deploy/build-dev
docs/.vitepress/.temp
.idea/

update-changelog.sh