node_modules
dist

upload
data/*
tmp

ecosystem.config.js
.DS_Store
.idea

coverage
.nyc_output

kubernetes-dev/mongo-data

kubernetes-local/
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
core/controllers/oss/.vscode/configurationCache.log
core/controllers/oss/.vscode/targets.log
core/controllers/oss/.vscode/dryrun.log

.kube/

build/*/manifests
build/*/registry
build/*/charts