html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --el-message-bg-color: #fff !important;
  --el-color-info-light-9: #e8f3ff !important;
  --el-color-info: rgba(22, 93, 255) !important;

  .el-message {
    background-color: #fff !important;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%) !important;
    border: none !important;
    padding: 10px 25px !important;
    // height: 40px !important;
  }
}

html.dark {
  background: #121212;
}

body {
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
  color: rgb(22, 93, 255)
}

a:hover {
  text-decoration: underline;
}

a.blank:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

.link-type,
.link-type:focus {
  &:hover {
    color: rgb(32, 160, 255);
  }
}