.mtk11 {
  color: #0178ce !important;
}

.mtk3 {
  color: #006674 !important;
}

.mtk19 {
  color: #b934c5 !important;
}

.mtk4 {
  color: #267f99 !important;
}

.mtk9 {
  color: #006674 !important;
}

.mtk1 {
  color: #3b3b3b !important;
}

.mtk14 {
  color: #646893 !important;
}

.mtk15 {
  color: #098658 !important;
}

[data-theme="dark"] .mtk11 {
  color: #36adef !important;
}

[data-theme="dark"] .mtk14 {
  color: #9699b4 !important;
}

[data-theme="dark"] .mtk3 {
  color: #47c8bf !important;
}

[data-theme="dark"] .mtk4 {
  color: #00a9a6 !important;
}

[data-theme="dark"] .mtk19 {
  color: #a558c9 !important;
}

[data-theme="dark"] .mtk1 {
  color: #7c7c7c !important;
}

.bracket-highlighting-0 {
  color: #b93a67 !important;
}

.bracket-highlighting-1 {
  color: #b93a67 !important;
}

.unexpected-closing-bracket {
  color: #b93a67 !important;
}

.bracket-highlighting-2 {
  color: #179fff !important;
}

[data-theme="dark"] .bracket-highlighting-0 {
  color: #b93a67 !important;
}

[data-theme="dark"] .bracket-highlighting-1 {
  color: #b93a67 !important;
}

[data-theme="dark"] .unexpected-closing-bracket {
  color: #b93a67 !important;
}

[data-theme="dark"] .bracket-highlighting-2 {
  color: #179fff !important;
}

.active-line-number {
  color: #008f8d !important;
}

.monaco-editor {
  --vscode-editor-wordHighlightTextBackground: #57575730 !important;
  --vscode-editor-wordHighlightBackground: #57575730 !important;
}
