.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #edf1f5;
  background-image: url("@/assets/login_bg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 60%;
}
