.iconText {
  color: #7b838b;

  svg {
    fill: #7b838b !important;
  }

  &:hover {
    color: var(--chakra-colors-grayModern-600);
    svg {
      fill: var(--chakra-colors-grayModern-600) !important;
    }
  }
}
