.sectionHeader {
  height: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 0 12px;
  justify-content: space-between;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;

  h4 svg {
    vertical-align: -4px !important;
  }
}
