.modal {
  background-color: #fff !important;
  background-image: url("/setting_bg.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}