.contexify {
  box-shadow: none !important;
  border: 1px solid #e2e8f0 !important;
  min-width: 0 !important;
  justify-content: center;
  width: 120px;
  padding: 2px !important;
}

.contexify_theme-dark {
  background-color: #212630 !important;
  border: 1px solid rgba(255, 255, 255, 0.16) !important;
}

.contexify_itemContent {
  background: none !important;
  width: 100% !important;
  height: 100% !important;
}