.icon {
  color: "#888D97";
  cursor: pointer;
  border-radius: 4px;
  height: 48px;
}

.icon:hover,
.icon.current {
  background-color: #f0fff4;
}

.icon.current {
  color: #38a169;
}

.icon.bottom {
  width: 100%;
  position: absolute;
  bottom: 10px;
}
