.explore_item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem;
  margin-bottom: 0.625rem;
  width: 11.25rem;
  height: 2rem;
  border-radius: 4px;
}

.explore_item:hover {
  background-color: var(--chakra-colors-primary-100);
  color: var(--chakra-colors-primary-600);
}

.title {
  color: #24282c;
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.title::first-letter {
  font-size: 2rem;
}

.title_dark {
  color: white;
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.title_dark::first-letter {
  font-size: 2rem;
}
