/* <style> */
/* 登录和注册界面的自定义样式 */
.login-panel {
  background-color: transparent;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
  overflow: hidden;
}

.login-panel .ant-btn-primary {
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  width: 100%;
  height: 42px;
  background: #00A99D;
  border-radius: 64px;
  border-color: #00A99D;
}

.login-panel .ant-btn-primary:focus,
.login-panel .ant-btn-primary:hover,
.login-panel .ant-btn-primary:active {
  background: #02857b;
  border-color: #02857b;
  color: #fff;
}

.login-panel .ant-form-item-control-input-content,
.login-panel .ant-form-item-control-input-content a {
  color: #00A99D;
}

.login-panel .ant-input-lg {
  font-size: 16px;
  border: 0px;
  border-bottom: 1px solid #9CA2A8;
  border-radius: 0;
  padding: 6.5px 11px;
}

.login-panel .ant-input-affix-wrapper {
  background-color: #fff;
  background-image: none;
  border: 0px;
  border-radius: 0;
  border-bottom: 1px solid #9CA2A8;
  color: rgba(0, 0, 0, .85);
  display: inline-block;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  line-height: 1.5715;
  min-width: 0;
  padding: 4px 11px;
  position: relative;
  transition: all .3s;
  width: 100%;
}

.login-panel .anticon svg {
  display: inline-block;
  color: #47C8BF;
}

.login-panel button {
  margin-bottom: 1rem !important;
}

.login-panel .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00a99d;
  border-color: #00a99d;
}

.login-panel .ant-checkbox-input:focus+.ant-checkbox-inner,
.login-panel .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.login-panel .ant-checkbox:hover .ant-checkbox-inner {
  border-color: #00a99d;
}

.login-panel .ant-row {
  justify-content: center;
}

@media (min-width: 576px) {
  .login-panel .ant-col-sm-offset-8 {
    margin-left: 0px;
  }
}

.login-panel .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #00a99d;
  border-right-width: 1px;
  z-index: 1;
}

.login-panel .ant-input-affix-wrapper-focused,
.login-panel .ant-input-affix-wrapper:focus,
.login-panel .ant-input-focused,
.login-panel .ant-input:focus {
  border-right-width: 1px;
  box-shadow: 0 0 0 2px rgb(0 169 157 / 18%);
  outline: 0;
}

.login-panel .ant-checkbox-checked:after {
  border: 1px solid #00a99d;
}

#footer {
  display: none;
}

#language-box-corner {
  display: none;
}

/* </style> */