.sectionList {
  overflow-y: hidden;
  li {
    cursor: pointer;
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    padding: 2px 16px;

    span {
      vertical-align: middle;
    }

    &:hover,
    &.active {
      background-color: var(--chakra-colors-gray-100);
      color: #000 !important;
    }

    &.active {
      background-color: var(--chakra-colors-gray-200);
    }
  }
}
