.functionList {
  max-height: calc(100vh - 400px);
  overflow-y: hidden;
  li {
    cursor: pointer;
    display: flex;
    height: 30px;
    line-height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;

    span {
      vertical-align: middle;
    }

    &:hover,
    &.active {
      background-color: #f2f3f8;
      color: #000 !important;
    }

    &.active {
      background-color: var(--chakra-colors-gray-200);
    }
  }
}
