@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fafafa;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 2px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
}

html,
body {
  height: 100%;
}

/* overrides chakra default value */
body {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  font-variant-numeric: lining-nums;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Segoe UI", Helvetica, Arial,
    "PingFang SC", "Noto Sans SC", sans-serif !important;
}

[data-theme="light"] body {
  background-color: #eef0f2 !important;
  /* background-image: url("/bg.png") !important; */
}

[data-theme="dark"] ::-webkit-scrollbar-thumb {
  /* 滚动条滑块 */
  background: rgba(21, 22, 26, 0.4);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "Noto Sans SC";
  font-display: swap;
  font-weight: 400;
  src: url("//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.eot"),
    /* IE9 Compat Modes */
      url("//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.woff") format("woff"),
    /* Modern Browsers */ url("//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.svg#NotoSans SC") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 500 600;
  src: url("/fonts/NotoSansSC-Medium.ttf");
}
