:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-dark: #323cf7;
}

.inline img {
  display: inline;
}

.search {
  flex-grow: 1;
  padding-left: 24px;
}

.search button {
  justify-content: flex-start;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0 10px 0 12px;
  width: 100%;
  height: 40px;
  margin-right: -20px;
  background-color: #f6f6f7;
}

.search button:hover {
  border: 1px solid var(--vp-c-brand);
  background-color: #f6f6f7;
}

.dark .search button {
  background-color: var(--vp-c-bg);
}
