@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #409eff,
    ),
    'success': (
      'base': #67c23a,
    ),
    'warning': (
      'base': #e6a23c,
    ),
    'danger': (
      'base': #f56c6c,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    ),
  ),
  $dialog: (
    'border-radius': 10px,
  ),
  $menu: (
    'item-height': 42px,
    'sub-item-height': 42px,
    'base-level-padding': 8px,
    'active-color': #4080FF,
  ),
  $table: (
    'header-text-color': #606266
  ),
  $message: (
    'bg-color': #fff,
    'padding': 10px 14px,
  ),
  $drawer: (
    'padding-primary': 0 20px,
  ),
);