.icon {
  text-align: center;
  color: var(--chakra-colors-gray-500);
  border-right: 2px solid #fff;
  cursor: pointer;
}

.icon:hover,
.icon.current {
  background-color: #f0fff4;
}

.icon.current {
  border-right-color: #38a169;
  color: var(--chakra-colors-black-500);
}
