.sectionHeader {
  height: 36px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding: 0 8px;
  justify-content: space-between;

  h4 {
    font-weight: bold;
  }

  h4 svg {
    vertical-align: -4px !important;
  }
}
